# Copy this file to .env and fill in your values
AWS_REGION=us-east-1
DYNAMODB_TABLE=url_mappings
CLICKS_TABLE=click_events
S3_BUCKET=url-shortener-analytics-reports-yourgroup
SNS_TOPIC_ARN=arn:aws:sns:us-east-1:ACCOUNT_ID:url-shortener-alerts
CLICK_THRESHOLD=10
