# Copy this file to .env and fill in your values
AWS_REGION=eu-west-1
DYNAMODB_TABLE=url_mappings
CLICKS_TABLE=click_events
S3_BUCKET=url-shortener-analytics-818007713569
SNS_TOPIC_ARN=arn:aws:sns:eu-west-1:818007713569:url-shortener-alerts
CLICK_THRESHOLD=10
